.Fooder{
    display: flex;
}

.home{
background-color: pink;
width: 215px;
height: 40px;
text-align: center;
}

.mypage{
    background-color: pink;
width: 215px;
height: 40px;
text-align: center;


}

.CirclePlus{
color: white;
margin-top: 0.5rem;
}

.UnderRound{
    margin-top: 0.5rem;
    
    color: white;
}